<!DOCTYPE html>
<html lang="en" <head ng-app="mainApp">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Student</title>
<link href="./app/lib/css/bootstrap.min.css" rel="stylesheet">
<link href="./app/lib/css/bootstrap-switch.css" rel="stylesheet">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link href="./app/lib/css/ng-table.min.css" rel="stylesheet">
<link href="./app/lib/css/mysite.css" rel="stylesheet">
<script src="./app/lib/js/jquery.min.js"></script>
<script src="./app/lib/js/bootstrap.min.js"></script>
<script src="./app/lib/js/angular.min.js"></script>
<script src="./app/lib/js/angular-route.min.js"></script>
<script src="./app/lib/js/angular-messages.min.js"></script>
<!--<script src="./app/lib/js/ui-bootstrap-tpls-0.11.0.js"></script> -->
<script src="./app/lib/js/ng-table.js"></script>
<script src="./app/lib/js/bootstrap-switch.js"></script>
<script src="./app/lib/js/ui-bootstrap-tpls-1.3.2.min.js"></script>
<!-- Localization support 
https://angular-translate.github.io/docs/#/guide/02_getting-started
-->
<script src="./app/lib/js/angular-translate.js"></script>
<script src="./app/lib/js/angular-translate-loader-static-files.js"></script>
<!-- My files -->
<script src="app.js"></script>
<!-- App Facvyory -->
<script src="./app/factory/ajaxFacory.js"></script>
<!-- App services files -->
<script src="./app/service/Employeeservice.js "></script>
<script src="./app/service/appService.js "></script>
<!-- app controlers -->
<script src="./app/controller/userloginCtrl.js"></script>
<script src="./app/controller/ShippingCtrl.js"></script>
<script src="./app/controller/storageCtrl.js"></script>
<script src="./app/controller/formLayoutCtrl.js"></script>
<script src="./app/controller/loginCtrl.js"></script>
<script src="./app/controller/dashboardCtrl.js"></script>
<script src="./app/controller/tabledataCtrl.js"></script>
<script src="./app/controller/showdataCtrl.js"></script>
<!-- app constants -->
<script src="./app/constants/constants.js"></script>
<!-- app constants -->
<script src="./app/directives/loginDirective.js"></script>
<script src="./app/directives/formLayoutDirective.js"></script>
</head>

<body>
    <div>
        <div ng-view class="container"></div>
    </div>
</body>
<script type="text/ng-template" id="myModalContent.html">
    <div class="row">
        <form name="myform" novalidate>
            <div>
                <label>EmpId</label>
                <span>{{ EmpModel.Id}}</span>
            </div>
            <div>
                <label>Name:</label>
                <input type="text" name="username" ng-model="EmpModel.username" class="form-control" placeholder="EmpName Required" required>
            </div>
            <div>
                <label>Salary</label>
                <input type="number" name="salary" ng-model="EmpModel.Salary" class="form-control" placeholder="salary Required" required>
            </div>
            <div>
                <button type="submit" class="btn btn-primary" ng-click="submit()" ng-disabled="myform.$invalid">Add</button>
                <button type="submit" class="btn btn-warning" ng-click="reset()" ng-disabled="myform.$pristine">Reset Form</button>
            </div>
        </form>
    </div>
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading"><span class="lead">List of Users </span></div>
        <div class="tablecontainer">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Salary</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="EmpModel in users">
                        <td><span>{{EmpModel.Id}}</span></td>
                        <td><span>{{EmpModel.username}}</span></td>
                        <td><span>{{EmpModel.Salary}}</span></td>
                        <td>
                            <button type="submit" class="btn btn-primary" ng-click="remove(EmpModel.Id)">remove</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</script>

</html>
