<div class="container-fluid">
    <form name="signform" novalidate>
        <h1 class="text-center">Contact Form</h1>
        <div class="row">
            <div class="form-group">
                <label>Email:</label>
                <input type="email" ng-model="formData.fname" class="form-control" placeholder="Enter email" required>
            </div>
            <div class="form-group">
                <label>Password:</label>
                <input type="password" ng-model="formData.passname" class="form-control" placeholder="Enterpassword">
            </div>
            <div class="form-group">
                <label>
                    <input type="checkbox" ng-model="formData.rembername">Audi
                    <input type="checkbox" ng-model="formData.rembername">Volvo
                    <input type="checkbox" ng-model="formData.rembername">Ford
                    <input type="checkbox" ng-model="formData.rembername">Mercedes
                </label>
            </div>
            <div class="form-group">
                <input type="radio" ng-model="formData.dogs" value="dogs">Dogs
                <input type="radio" ng-model="formData.tuts" value="tuts">Tutorials
                <input type="radio" ng-model="formData.cars" value="cars">Cars
            </div>
            <input id="TheCheckBox" type="checkbox" data-off-text="False" data-on-text="True" checked="false" class="BSswitch">
            <div class="form-group">
                <fieldset>
                    <!--  <select ng-model="formData.statename" ng-options="obj.id as obj.name for obj in stateDataSource" ng-change="stateChange(obj)">
                    </select> -->
                    <select ng-model="formData.statename" ng-change="stateChange()">
                        <option ng-repeat="obj in stateDataSource" value="{{obj.id}}">{{obj.name}}</option>
                    </select>
                    <select ng-model="formData.cityname">
                        <option ng-repeat="city in cityDatasource" value="{{city.id}}">{{city.desc}}</option>
                    </select>
                </fieldset>
            </div>
        </div>
        <div class="row ">
            <button type="submit " class="btn btn-default " ng-disabled="signform.$invalid " ng-click="saveData() ">Submit</button>
        </div>
    </form>
</div>
